*{  box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

div.Barra
{ 
    position: fixed; 
    background-image: url(https://img.freepik.com/foto-gratis/textura-fondo-alfombra-roja_103740-96.jpg?size=626&ext=jpg); 
    width: 100px;
    height: 100%;
    overflow: auto;
    
}

div a 
{
    padding: calc(100%/5);
    color: black;
    font-family: Impact;
    font-weight:200;
}

a
{ 
    display: block; 
    text-decoration:none; 
    padding: 5px;
}

a:hover
{
    background-color: dimgray; color: whitesmoke;
}

div.Contenido
{  
    background-color:lavenderblush;
    margin-left: 200px; 
    
    height: 3000px;
    border: rgb(223, 236, 34) 10px dotted;
    
    margin: 0px;
    padding-top: 10px;
    padding-left: 100px;
    background-color: rgb(39, 45, 47);
    background-clip: border-box;
    
}

.Cine
{ 
    display: none;
}

#Peliculas:target, 
#Series:target, 
#Datos:target, 
#Actores:target, 
#Actrices:target{display: block;}

@media screen and (max-width: 1000px) {
    div.Barra{ position:relative; width: 100%; height: auto;}
    div.Barra a
    {
        padding: 30px;
    }
    div.Contenido 
    {
        padding-left: 10px;
    }
    .Barra a {float: left;}
    div.Contenido {margin-left: 0;}
}


@media screen and (max-width: 650px) {
    .Barra a{float: none; text-align: center;}
    div.Barra a
    {

        padding: 10px;
    }
    div.Contenido 
    {
        padding-left: 10px;
    }
}